body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    font-size: 115%;
}


/* sempre generalize as regras css */
h1,
h2,
.subtitulo {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px #000;
}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}
header {
  position: relative;
}

.titulo {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .6rem solid #000;
}

main {
    width: 85%;
    float: left;
}

main p {
    text-align: justify;
    margin: .8rem 0;
}

main a{
	color: #851944;
}

/* centraliza o conteudo do box div */
.box-centralizado {
	width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    padding-bottom: 65px;
}

.post-box + .post-box {
  /* trocamos padding-bottom e margin-bottom por
     padding-top e margin-top */
  padding-top: 1em;
  margin-top: 1.5em;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
  background-size: 100% 1px;
  background-repeat: no-repeat;
  /* trocamos "bottom center" por "top center" */
  background-position: top center;
}

.leia-mais{
    font-size: 1.15em;
    padding: .5em;
    margin: .6em;
    text-align: center;
    display: block;
    background-color: #E6E7E8;
}

.depoimentos {
    background-color: #D9E5E3;
    border: .4em solid #c2ccCA;
    width: 30ch;
    padding: .8em;
    margin: .8em 1.5em;
    box-sizing: border-box; /* calcula automaticamente, em relacao a borda, o tamanho total do box */
}
.petrobras{
    float: left;
}
.fiat{
    float: right;
}

.perfil-foto{
	position: absolute;
	top: 0;
    right: 0;
}

.perfil-foto,
.navegacao {
    border-left: .6rem solid black;
    border-bottom: .6rem solid black;
    box-sizing: border-box;
}

.navegacao{
	position: absolute;
	top: 308px;
    right: 0px;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
    text-align: center;
    clear: right;
    width: 15%;
}

.navegacao h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.navegacao a{
	color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}

.navegacao li{
    display: block;
}

.social-menu li{
    display: inline-block;
}

.social-menu li a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

/* Pagina de portifolio */

.portifolio-box li {
    display: inline-block;
}

.portifolio-box li{
    border: .4em solid;
    border-color: #000;
    background-color: #fafffc;
    padding: .6em;
    margin-right: .6em;
    margin-bottom: .6em;
    box-sizing: border-box;
    width: 46%;
}
.portifolio-box img{
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.portifolio-box a{
 
}

.rodape {
    background-image: radial-gradient(ellipse at left bottom,
    rgba(60, 29, 61, 0.8),
    rgba(60, 29, 61, 0.8) 65%,
    black 65%,
    black 70%,
    transparent 70%,
    transparent);
    background-size: 25% 100%;
    background-repeat: no-repeat;
    color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-shadow: black 1px 1px 1px;
}
/* Triangulo com bordas, basta colocar um div vazio no footer
footer div {
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid red;
    border-right: 30px solid red;
    width: 0;
}
*/

/* sempre generalize as regras css */
blockquote,
footer {
	padding: .8em;
}

/* Exemplo de gradiente
min-height: 100%;
background-color: black;
background-image: linear-gradient(to right, black, #C00, black);
background-repeat: no-repeat;
background-size: 80% 5px;
background-position: 50% 50%;
Use: http://dabblet.com/gist/a49c6685fd643c6e4caf;
*/