body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    font-size: 115%;
}


/* sempre generalize as regras css */
h1,
h2, 
.subtitulo {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.5em;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}

.titulo {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .6rem solid #000;
    position: relative;
}

main {
    width: 85%;
    float: left;
}

main p {
    text-align: justify;
    margin: .8rem 0;
}

main a{
	color: #851944;
}

/* centraliza o conteudo do box div */
.box-centralizado {
	width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    padding-bottom: 65px;
}


.post-box {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    margin-bottom: .8em;
}


.leia-mais{
    font-size: 1.15em;
    padding: .5em;
    margin: .6em;
    text-align: center;
    display: block;
    background-color: #E6E7E8;
}

.depoimentos {
    background-color: #D9E5E3;
    border: .4em solid #c2ccCA;
    width: 30ch;
    padding: .8em;
    margin: .8em 1.5em;
    box-sizing: border-box; /* calcula automaticamente, em relacao a borda, o tamanho total do box */
}
.petrobras{
    float: left;
}
.fiat{
    float: right;
}

.perfil-foto{
	position: absolute;
	top: 0;
    right: 0;
}

.perfil-foto,
.navegacao {
    border-left: .6rem solid black;
    border-bottom: .6rem solid black;
    box-sizing: border-box;
}

.navegacao{
	position: absolute;
	top: 308px;
    right: 0px;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
    text-align: center;
    clear: right;
    width: 15%;
}

.navegacao h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.navegacao a{
	color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}

.navegacao li{
    display: block;
}

.social-menu li{
    display: inline-block;
}

.social-menu li a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

/* Pagina de portifolio */

.portifolio-box li {
    display: inline-block;
}

.portifolio-box li{
    border: .4em solid;
    border-color: #000;
    background-color: #fafffc;
    padding: .6em;
    margin-right: .6em;
    margin-bottom: .6em;
    box-sizing: border-box;
    width: 46%;
}
.portifolio-box img{
    width: 100%;
}

.portifolio-box a{
 
}

.rodape {
    background-color: #000;
    color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Triangulo com bordas, basta colocar um div vazio no footer
footer div {
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid red;
    border-right: 30px solid red;
    width: 0;
}
*/

/* sempre generalize as regras css */
blockquote,
footer {
	 padding: .8em;
}