body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    font-size: 115%;
}


/* sempre generalize as regras css */
h1,
h2,
.subtitulo {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px #000;
}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}
header {
  position: relative;
}

.titulo {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .6rem solid #000;
}

main {
    /*Sendo assim, para que a parte principal ocupe o resto da tela, dizemos que queremos a largura total 
    da tela menos essa largura que acabamos de definir para a barra lateral. Ou seja:*/
    width: calc(100% - 0.9 * 300px);
    float: left;
}

main p {
    text-align: justify;
    margin: .8rem 0;
}

main a{
	color: #851944;
}

/* centraliza o conteudo do box div */
.box-centralizado {
	width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    padding-bottom: 65px;
}

.bio > p::first-letter {
  font-size: 200%;
  font-weight: bold;
  color: #3C1D3D;
  text-shadow: 1px 1px #000;
  margin-right: .2ch;
  line-height: 1;
}

.post-box + .post-box {
  /* trocamos padding-bottom e margin-bottom por
     padding-top e margin-top */
  padding-top: 1em;
  margin-top: 1.5em;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
  background-size: 100% 1px;
  background-repeat: no-repeat;
  /* trocamos "bottom center" por "top center" */
  background-position: top center;
}

.leia-mais{
    font-size: 1.15em;
    padding: .5em;
    margin: .6em;
    text-align: center;
    display: block;
    background-color: #E6E7E8;
}

.depoimentos {
    background-color: #D9E5E3;
    border: .4em solid #c2ccCA;
    width: 30ch;
    padding: .8em;
    margin: .8em 1.5em;
    box-sizing: border-box; /* calcula automaticamente, em relacao a borda, o tamanho total do box */
}

.depoimentos p{
    position: relative;
}

blockquote::before{
    content: '“';
    font-size: 8em;
    position: absolute;
    color: #bbb;
    line-height: .8;
}

blockquote:nth-of-type(odd){
    float: right;
}

blockquote:nth-of-type(even){
    float: left;
}

.depoimentos:hover{
    transform: rotate(5deg) scale(1.2); 
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.depoimentos:focus{
    transform: rotate(5deg) scale(1.2); 
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.perfil-foto{
	position: absolute;
	top: 0;
    right: 0;
}

.perfil-foto,
.navegacao {
    border-left: .6rem solid black;
    border-bottom: .6rem solid black;
    box-sizing: border-box;
}

.navegacao{
	position: absolute;
	top: 308px;
    right: 0px;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
    text-align: center;
    clear: right;
    /*Para que a barra lateral tenha sempre 90% da largura da foto, que tem 300 pixels de altura, 
    podemos definir a largura dela com calc(), deixando explícita essa relação:*/
    width: calc(0.9 * 300px);
}

.navegacao h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.navegacao a{
	color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
    text-transform: lowercase;
}

.navegacao li{
    display: block;
}

.navegacao a:hover,
.navegacao a:focus {
  text-shadow: 0 0 2px pink;
}


.social-menu li{
    display: inline-block;
}

.social-menu li a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
}

.social-menu a {
  position: relative;
}

.social-menu a:hover::after,
.social-menu a:focus::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  right: 0;
  text-indent: 0;
  width: 300%;
  background: black;
  font-size: .75em;
}

.social-menu a:hover::before,
.social-menu a:focus::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: black;
    transform: translateY(.5em) rotate(45deg);
}

.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}

/* Pagina de portifolio */

.portifolio-box li {
    display: inline-block;
}

.portifolio-box li{
    border: .4em solid;
    border-color: #000;
    background-color: #fafffc;
    padding: .6em;
    margin-right: .6em;
    margin-bottom: .6em;
    box-sizing: border-box;
    width: 46%;
}
.portifolio-box img{
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.portifolio-box a{
 
}

table {
    border-collapse: separate;
    border-spacing: 4px;
}
thead th {
    background-color: #3C1D3D;
    color: #fff;
}
tbody th {
    background-color: #851944;
    color: #fff;
}
th {
    padding: .8em;

}
td {
    padding: .8em;
    background-color: #eee;
}
td[rowspan]{
    vertical-align: middle;
}
td[colspan]{
    text-align: center;
    font-style: italic;
}

.rodape {
    background-image: radial-gradient(ellipse at left bottom,
    rgba(60, 29, 61, 0.8),
    rgba(60, 29, 61, 0.8) 65%,
    black 65%,
    black 70%,
    transparent 70%,
    transparent);
    background-size: 25% 100%;
    background-repeat: no-repeat;
    color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-shadow: black 1px 1px 1px;
}
/* Triangulo com bordas, basta colocar um div vazio no footer
footer div {
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid red;
    border-right: 30px solid red;
    width: 0;
}
*/

/* sempre generalize as regras css */
blockquote,
footer {
	padding: .8em;
}

/* Exemplo de gradiente
min-height: 100%;
background-color: black;
background-image: linear-gradient(to right, black, #C00, black);
background-repeat: no-repeat;
background-size: 80% 5px;
background-position: 50% 50%;
Use: http://dabblet.com/gist/a49c6685fd643c6e4caf;
*/