.faixa-header{
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(6.5765em, -2.4745em) rotate(45deg);
}
.palavras-chave{
     perspective: 500px;
}

.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 2.8em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao-ultima-linha em{
    color: #851944;
    font-size: 4em;
    transform: skew(-10deg) rotate(-5deg);
    display: inline-block;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    padding: .6em;
    margin: 2.4em auto;
}
.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .4em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .6rem solid #000;
    border-bottom: .6rem solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .6rem solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li {
    color: #FCF;
    padding: .4em;
    display: block;
    width: 40%;
}
.blog li a {
    color: #FCF;
    padding: .4em;
    display: block;
}

.ultimo-post{
    background-color: #F2FFFC;

}

.ultimo-post a{
    color: #F26;

}

.ultimo-post p{
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 1.5em;
}
footer h2{
    font-size: 2.5em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #D5447E;
    position: absolute;
}

/* Palavras do header */
.eficiencia {
    top: 20%;
    left: 75%;
    transform: rotate(-5deg);
}
.boas-praticas {
    top: 70%;
    left: 20%;
    transform: rotate(5deg);
}
.codigo-limpo {
    top: 45%;
    left: 10%;
    transform: rotate(-5deg);
}
.css3 {
    top: 50%;
    left: 30%;
    transform: rotate(7deg);
}
.html5 {
    top: 40%;
    left: 80%;
    transform: rotate(-5deg);
}
.javascript {
    top: 10%;
    left: 60%;
    transform: rotate(5deg);
}
.acessibilidade {
    top: 30%;
    left: 25%;
    transform: rotate(4deg);
}
.responsivo {
    top: 15%;
    left: 15%;
    transform: rotate(-5deg);
}
.otimizacoes {
    top: 60%;
    left: 70%;
    transform: rotate(4deg);
}
.agilidade {
    top: 10%;
    left: 30%;
    transform: rotate(-5deg);
}
.design {
    top: 35%;
    left: 65%;
    transform: rotate(-6deg);
}